.site-navbar-cta-button,
.mobile-nav-cta-button {
  background-color: #AB3A76ff;
}

.site-tree-item-self.is-current {
  color: #AB3A76ff;
  font-weight: 600;
}

.toc-item-self[aria-current="true"] {
  color: #AB3A76ff;
}
