.site-navbar-cta-button,
.mobile-nav-cta-button {
  background-color: oklch(51.1% 0.262 276.966);
}

.site-tree-item-self.is-current {
  color: oklch(51.1% 0.262 276.966);
  font-weight: 600;
}

.toc-item-self[aria-current="true"] {
  color: oklch(51.1% 0.262 276.966);
}
